# PRUEBAS

In [4]:
planetas = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print('El primer planeta es', planetas[0])

El primer planeta es Mercury

In [2]:
print('The first planet is', planets[1])

The first planet is Venus

In [3]:
print('The first planet is', planets[0])
print('The second planet is', planets[1])
print('The third planet is', planets[2])

The first planet is Mercury
The second planet is Venus
The third planet is Earth

In [5]:
planetas[3] = 'Planeta rojo'
print('Marte tambien se conoce como', planetas[3])

Marte tambien se conoce como Planeta rojo

In [7]:
numero_de_planetas = len(planetas)
print("existen" , numero_de_planetas , "planetas en el sistema solar" )

existen 8 planetas en el sistema solar

In [6]:
planetas = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print('El primer planeta es', planetas[0])

El primer planeta es Mercury

In [8]:
print('el ultimo planeta es', planetas[-1])
print('el penultimo planeta es', planetas[-2])

el ultimo planeta es Neptune
el penultimo planeta es Uranus

In [9]:
jupiter_index = planetas.index('Jupiter')
print('Jupiter es el', jupiter_index + 1, 'planeta del sol')

Jupiter es el 5 planeta del sol

In [10]:
gravity_on_earth = 1.0
gravity_on_the_moon = 0.166
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('On Mercury, a double-decker bus weighs', bus_weight * gravity_on_planets[0], 'kg')

On Earth, a double-decker bus weighs 12650 kg
On Mercury, a double-decker bus weighs 4781.7 kg

In [11]:
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('The lightest a bus would be in the solar system is', bus_weight * min(gravity_on_planets), 'kg')
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'kg')

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg
The heaviest a bus would be in the solar system is 29854.0 kg

In [12]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = planets[0:2]
print(planets_before_earth)

['Mercury', 'Venus']

In [13]:
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

In [14]:
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

In [15]:
regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']

# EJERCICIO 1

In [19]:
planetas = ['tierra', 'marte', 'neptuno', 'urano', 'mercurio', 'jupiter', 'saturno', 'venus']
numero_de_planetas = len(planetas)
print(numero_de_planetas)

8

In [21]:
planetas = ['tierra', 'marte', 'neptuno', 'urano', 'mercurio', 'jupiter', 'saturno', 'venus']
numero_de_planetas = len(planetas)
print('hay', numero_de_planetas, 'planetas en el universo')

hay 8 planetas en el universo

In [22]:
planetas.append('pluton')
numero_de_planetas = len(planetas)
print('en realidad son', numero_de_planetas, 'planetas en el universo')

en realidad son 9 planetas en el universo

In [25]:
planetas.append('pluton')
print('existe un ultimo planeta', planetas)

existe un ultimo planeta ['tierra', 'marte', 'neptuno', 'urano', 'mercurio', 'jupiter', 'saturno', 'venus', 'pluton', 'pluton']

In [26]:
planetas.append('pluton')
print(planetas[-1], 'es el ultimo planeta')

pluton es el ultimo planeta

In [23]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

print('There are', len(planets), 'planets')

There are 8 planets

In [24]:
planets.append('Pluto')

print(planets[-1], 'is the last planet')

Pluto is the last planet

# EJERCICIO 2

In [53]:
planetas = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Neptuno']
sistema_planetario =('Saturno')*
planeta_index = planetas.index('sistema_planetario')
print('Aqui estan los planetas mas cerca que' + sistema_planetario)

SyntaxError: invalid syntax (1455333450.py, line 2)

In [61]:
planetas = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Neptuno']
sistema_planetario = input('Saturno')
Saturno_index = planetas.index('sistema_planetario')
print('Aqui estan los planetas mas cerca que' + sistema_planetario)

KeyboardInterrupt

In [66]:
planetas = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Júpiter', 'Saturno', 'Neptuno']
Mercurio = input('Mercurio')
Mercurio_index = planetas.index('Mercurio')
print('Mercurio es el', Mercurio_index + 1, 'planeta mas cerca del sol')
print('planetas'[0:Mercurio_index])

Mercurio es el 1 planeta mas cerca del sol

In [68]:
print('los planetas mas lejos del sol son' + Mercurio)
print(planetas[Mercurio_index + 1:])

los planetas mas lejos del sol son
['Venus', 'Tierra', 'Marte', 'Júpiter', 'Saturno', 'Neptuno']